!!! 5
%html 
	%head 
		%title Eric M. Payne
		%link{:href =>"http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", :rel => "stylesheet"}
		%link{:href =>"http://fonts.googleapis.com/css?family=Raleway:100", :rel => "stylesheet", :type => "text/css"}
		%link{:href =>"http://fonts.googleapis.com/css?family=Lora", :rel => "stylesheet", :type => "text/css"}
		%link{:href => "css/style.css", :rel => "stylesheet"}
		
	%body
	%h1
		ERIC M. PAYNE
		%ul
			%li
				%a{:id => "js-email", :href => "mailto:"}
					%i.fa.fa-envelope-square.fa.fa-lg{:class => "social-icon"}
					%p{:class => "social-text"} email
			%li
				%a{:href => "http://ca.linkedin.com/in/ericmpayne/"}
					%i.fa.fa-linkedin-square.fa.fa-lg{:class => "social-icon"}
					%p{:class => "social-text"} linkedin
			%li
				%a{:href => "http://github.com/empayne"}
					%i.fa.fa-github-square.fa.fa-lg{:class => "social-icon"}
					%p{:class => "social-text"} github

	%script{:src => "//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"}
	%script{:src => "js/main.js"}
	